.listWraper{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    border-bottom: 1px dashed #eee;
    margin-bottom: 20px;
    width: 80%;
    background-color: #ffffff;
    padding: 10px;
}
.art_title{
    flex: 80%;
    text-align: center;
    align-self: center;
    align-items: center;
    font-weight: bold;

}
.art_img{
    display: flex;
    flex: 20%;
    text-align: center;
    align-items: center;
    align-self: center;
}